.header {
  position: fixed; 
  width: 100%;
  z-index: 30;
  background-color: var(--white-color);
  &__wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  &__logo {
    display: flex;
    img {
      width: 150px;
      height: 50px;
    }
  }
  &__contacts {
    display: flex;
  }
  &__hamburger {
    display: none;
  }
  &__contact {
    display: flex;
    margin-right: 30px;
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 22px;
      margin-left: 20px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    height: 60px;
    display: inline-block;
  }
  &__right {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  &__main {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: var(--main-color);
  }
  &__additional {
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    color: var(--second-color);
  }
  &__icon {
    margin-right: 12px;
  }
  &__menu {
    background-color: var(--main-color);
    padding-top: 20px;
    position: relative;
    min-height: 40px;
  }
  &__ul {
    display: flex;
    justify-content: space-between;
    &-sub {
      display: none;
      position: absolute;
      transition: 0.2s all;
      top: 50px;
      min-width: 200px;
    }
    &-item {
      padding: 10px 10px;
      background-color: var(--white-color);
      &:hover {
        background-color: var(--main-color);
        .header__ul-link {
          color: var(--white-color);
        }
      }
    }
    &-link {
      color: var(--main-color);
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      width: 100%;
      display: block;
    }
  }
  &__li {
    height: 50px;
    position: relative;
    cursor: pointer;
    &:hover {
      .header__ul-sub {
        display: block;
      }
      &:after {
        content: ""; 
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%; 
        background-color: var(--white-color);
        height: 3px;
      }
    }
    i {
      display: none;
    }
  }
  &__link {
    font-weight: 500;
    height: 60px;
    font-size: 13px;
    line-height: 20px;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0 15px;
  }

    @media (max-width: 850px) {
      &__hamburger {
        display: block;
        position: absolute;
        padding: 5px 0;
        right: 33px;
        top: 60%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        cursor: pointer;
      }
      &__li {
        margin-right: 10px;
        margin-left: 10px;
        transition: all 0.5s ease;
        flex-direction: column;
        li {
          &:hover {
            pointer-events: none;
          }
        }
        a {
          &:hover {
            color: var(--main-color);
            border-bottom: none;
          }
        }
        i {
          display: inline-block;
        }
      }
      &__hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--white-color);
        margin-bottom: 4px;
        border-radius: 30px;
      }
  
      &__hamburger_active span {
        margin-bottom: -2px;
        transition: 0.6s all;
      }
  
      &__hamburger_active span:nth-child(1) {
        transform: rotate(-45deg);
      }
  
      &__hamburger_active span:nth-child(2) {
        display: none;
      }
  
      &__hamburger_active span:nth-child(3) {
        transform: rotate(45deg);
      }
  
      &__button {
        display: none;
      }
      &__li {
        &:hover {
          pointer-events: none;
          &:after {
            content: none;
          }
        }
      }
      &__ul {
        padding-top: 40px;
        position: absolute;
        z-index: 100;
        flex-direction: column;
        justify-content: flex-start;
        top: 40px;
        left: -100%;
        height: 100vh;
        width: 50%;
        background-color: var(--second-color);
        transition: 0.6s all;
        font-size: 16px;
        &-sub {
          padding-top: 20px;
          display: none;
          min-width: 100%;
          position: static;
        }
        &-item {
          background-color: none;
          margin-bottom: 2px;
        }
        &-link a {
          color: var(--main-color);
        }
        li {
          position: relative;
        }
      }
  
      &__link {
        width: 100%;
        color: var(--white-color);
        margin-bottom: 20px;
        height: 3px;
      }
  
      &__nav {
        ul {
          li {
            
            text-align: center;
            a {
              margin-left: 0;
              padding: 3px;
              text-align: center;
              min-width: 70px;
            }
          }
        }
      }
    }
  
    &__list_active {
      left: 0;
    }
    @media (max-width: 769px) {
      &__list_active {
        li {
          margin-bottom: 20px;
        }
      }
      &__ul-sub {
        li {
          margin-bottom: 2px;
        }
      }
      &__wrapper {
        flex-direction: column;
        padding: 7px 0;
      }
      &__contact {
        margin-top: 15px;
        margin-right: 10px;
        &:after {
          margin-left: 10px;
        }
      }
    }
    @media (max-width: 550px) {
      &__contacts {
        display: none;
      }
    }
}

