.main {
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 144px;
  &__container {
    position: relative;
  }
  &__image {
    display: flex;
  }
  &__cancelary {
    font-family: 'Dancing Script';
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--main-color);
    margin-bottom: 13px;
  }
  &__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.77);
    border-radius: 500px;
    z-index: -1;
    filter: blur(150px);
    border-radius: 500px;
  }
  &__info {
    position: relative;
    z-index: 1;
  }
  &__title {
    font-weight: 700;
    font-size: 86px;
    line-height: 96px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 19px;
  }
  &__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    color: #D8D8D8;
    margin-bottom: 23px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 1025px) {
    &__image {
      img {
        width: 354px;
      }
    }
    &__info {
      max-width: 400px;
    }
    &__absolute {
      bottom: -220px;
    }
    &__block {
      margin-right: 5px;
      margin-left: 5px;
    }
    &__title {
      font-size: 60px;
      line-height: 59px;
    }
    &__text {
      font-size: 13px;
      line-height: 20px;
    }
    &__cancelary {
      font-size: 39px;
      line-height: 51px;
    }
  }
  @media (max-width: 900px) {
    &__cancelary {
      font-size: 44px;
    }
    &__title {
      font-size: 60px;
      line-height: 64px;
    }
    &__text {
      font-size: 15px;
      line-height: 20px;
    }
  }
  @media (max-width: 769px) {
    padding-top: 152px;
    height: 100%;
    &__wrapper {
      flex-direction: column;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 500px;
    }
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
    &__wrapper {
      padding-top: 40px;
    }
    &__image {
      margin-top: 30px;
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 426px) {
    padding-top: 98px;
    &__title {
      font-size: 43px;
      line-height: 50px;
    }
    &__cancelary {
      font-size: 35px;
      line-height: 42px;
    }
  }
}

.grey {
  background: linear-gradient(96.99deg, #5E5E5E 1.9%, #2C2C2C 97.51%);
}

.red {
  background: linear-gradient(96.99deg, #BC4747 1.9%, #B44343 97.51%);
}